@function toRem($px) {
  @return ($px / basic-font-size) * 1rem;
}

.headbg {
  background-color: #fff;
  font-size: 16px;
  /* bottom陰影 */
  box-shadow: rgba(0, 0, 0, 0.35) 0px 0px 10px;
  margin: 0 auto;
  position: relative;
}
.row {
  margin: 0;
}
.head {
  width: 100%;
  height: 100px;
  line-height: 100px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  @media (max-width: 767px) {
    text-align: center;
  }
  div {
    display: inline;
  }
  .menuDiv {
    position: absolute;
    left: 0%;
    #menu {
      vertical-align: middle;
      cursor: pointer;
      @media (max-width: 767px) {
        display: inline !important;
      }
    }
  }
  .logoDiv {
    @media (max-width: 767px) {
      width: 60%;
      margin-left: auto;
      margin-right: auto;
    }
    #logoIcon {
      width: 200px;
      vertical-align: middle;
      cursor: pointer;
      @media (max-width: 767px) {
        width: 40%;
      }
    }
  }
  .userDiv {
    img,
    span {
      margin: 0 3px;
    }
    position: absolute;
    right: 0%;
    vertical-align: middle;
    text-align: center;
    #userIcon {
      cursor: pointer;
      width: 40px;
      height: 40px;
      vertical-align: middle;
    }
  }
  .member {
    cursor: pointer;
  }
  .useService {
    width: 135px;
    text-align: center;
    display: inline-block;
    cursor: pointer;
  }

  .mobileHide {
    @media (max-width: 767px) {
      display: none;
    }
  }

  .activeBg {
    color: white;
    background-image: url("./images/active_bg.png");
    background-size: 100% 100%;
    &:hover{
      background-image: url("./images/hover_bg.png");
    }
  }
}

#header {
  .mobile_menu {
    position: fixed;
    top: 100px;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 998;
    background: rgba(0, 0, 0, 0.35);;
    display: none;
    // 級距
    letter-spacing: 1pt;

    .userService {
      box-shadow: inset 0px 12px 10px -15px #000;
      background-color: white;
      // background-color: #fffbf8;
      height: auto;
      text-align: center;
      padding: 30px 0;
      #mobile_userIcon {
        width: 70px;
        border-radius: 50%;
      }
      .padding {
        padding: 20px 20px;
        padding-bottom: 0px;
        margin: 0;
        display: inline-block;
      }
      .divline{
        height: 20px;
        width: 1px;
        display: inline-block;
        .line{
          margin-top: 3px;
          height: 100%;
          width: 100%;
          background-color: #d9d8d6;
        }
      }
      hr {
        border-top: 1px solid #d9d8d6;
      }
    }
  }
}
